{{template "base" .}}

{{define "title"}}
{{.PRODUCT.Name}} - Mi Tienda
{{ end }}

{{define "content"}}
<script id="product_ld_json" type="application/ld+json">
  {{.PRODUCT}}
</script>
<wc-layout>
  <wc-product-client-details id="content-page"></wc-product-client-details>
</wc-layout>
{{ end }}

{{define "js"}}
<script defer src="/static/web_components/wc-layout.js"></script>
<script
  defer
  src="/static/web_components/wc-product-client-details.js"
></script>
{{ end }}
