{{define "title"}}Blogs{{ end }}

{{define "content"}}
<script id="blogs_jsonld" type="application/ld+json">
  {{.BLOGS_JSONLD}}
</script>
<wc-layout>
  <wc-blog-list-page id="content-page"></wc-blog-list-page>
</wc-layout>
{{ end }}

{{define "js"}}
<script defer src="{{Constants.WebComponentsFolder}}/wc-blog-list-page.js"></script>
{{ end }}
