{{template "base" .}}

{{define "title"}}
    Details product
{{end}}

{{define "content"}}
    <h2 class="mt-5">Product names</h2>
    <hr>
    Some content
{{end}}

{{define "js"}}
<script>
  console.log("Hi from details products")
</script>
{{end}}
