<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="{{Constants.StaticFolder}}/favicon.ico">
    <title>{{block "title" .}}{{ end }} - {{Constants.SiteName}}</title>
    <link
      href="{{Constants.StaticFolder}}/tailwin.css"
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />

    <style>
      :root {
        --max-screen: 1250px;
      }
      html,
      body {
        height: 100%;
        background-color: lightgrey;
      }
      .root-container {
        margin: 0 auto;
        max-width: var(--max-screen);
        background-color: white;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="root-container">{{block "content" .}} {{ end }}</div>

    <script defer src="{{Constants.WebComponentsFolder}}/wc-layout.js"></script>
    {{block "js" .}}{{ end }}
  </body>
</html>
