<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{block "title" .}}{{ end }}</title>
    <link
      href="{{StaticFolder}}/tailwin.css"
      rel="stylesheet"
      type="text/css"
    />

    <style>
      :root {
        --max-screen: 1250px;
        --t_styles: "{{StaticFolder}}/tailwin.css;"
      }
      html,
      body {
        height: 100%;
        background-color: lightgrey;
      }
      .root-container {
        margin: 0 auto;
        max-width: var(--max-screen);
        background-color: white;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="root-container">{{block "content" .}} {{ end }}</div>

    <script defer src="{{WebComponentsFolder}}/wc-layout.js"></script>
    {{block "js" .}}{{ end }}
  </body>
</html>
