{{define "title"}}{{.BLOG_JSONLD.Headline}}{{ end }}

{{define "content"}}
<wc-layout>
  <div id="content-page">
    <h1 class="text-2xl font-bold">Error inesperado, intente mas tarde</h1>
  </div>
</wc-layout>
{{ end }}

{{define "js"}}
{{ end }}
