{{define "title"}}
Tienda de Mario
{{ end }}

{{define "content"}}
<script id="blogs_jsonld" type="application/ld+json">
  {{.BLOGS_JSONLD}}
</script>
<script id="products_jsonld" type="application/ld+json">
  {{.PRODUCTS_JSONLD}}
</script>

<wc-layout>
  <wc-home id="content-page"></wc-home>
</wc-layout>
{{ end }}

{{define "js"}}
<script defer src="{{WebComponentsFolder}}/wc-home.js"></script>
{{ end }}
